// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$gray: #0E0000;
$light-gray: #F4F4F4;

$brown-font-color: #523906;
$orange: #FEA82F;
$vividorange: #FF6701;
$green: #C9E4C5;
$cream: #FCECDD;
$footer-blue: #3F3D56;
