
<%
=begin %>
<ul>
<% @pets.each do |pet| %>
<li>Name: <%=link_to "#{pet.name}", pet_path(pet) %> - Species: <%=pet.category%></li>
<% end %>
</ul>
<%
=end %>

<h1 style="text-align: center" class="p-2">Our Cuties!</h1>


    <div class="flex-container">
      <% if (@pets.count == 0) %>
      <p>No pet registered yet</p>
      <% else %>
        <% @pets.each do | pet | %>


          <%= link_to pet_path(pet), class: 'decoration-none' do%>
            <%= render 'pet_card', pet: pet, something: false %>
          <% end %>


        <% end %>
      <% end %>
    </div>
