.cover {
  height: 90vh;
  background-image: url(asset_path('cover.svg'));
  height: 600px;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

.cover h1 {
  color: #3F3D56;
  font-size: 3.5em;
}

.cover p {
  color: #3F3D56;
  opacity: .7;
  font-size: 1.5em;
}

.typed-js {
  min-height: 33.6px;
}
