.cover {
  background-image: url(asset_path('cover.svg'));
  height: 400px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 70px;
}

.typed-js {
  min-height: 33.6px;
}
